 
  /*
  --- Checkout Panel
  */
.verified-panel {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 11px 30px 9px rgba(177,177,177,0.6);
    border-radius: 25px;
}
  
/* Panel Body */
.verified-body {
    padding: 45px 80px 0;
    flex: 1;
}

.verified-body .fas{
    font-size: 70px;
    display: flex;
    justify-content: center;
    color: rgb(13, 194, 13);
}

.verified-body h3{
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
}

.verified-body p{
    line-height: 15px;
    text-align: center;
    font-size: 16px;
}

.verified-body a{
    margin-top: 25px;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    margin-left: 180px;
    margin-right: 180px;
    color: #fff;
    background: #2484BF;
}
.verified-body a:active{
    box-shadow: 3px 6px 30px 9px rgba(177,177,177,0.6);
  }