*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin:0;
    background-color: #F5F5F5;
    max-width: 1920px;
}

p{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100%;
}

.nav-list .logo{
    color: blue;
}

nav {
    color: white;
    background-color: white;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(43, 40, 40, 0.25);
}

.search-box-holder{
    display: flex;
    width: 50vw;
    height: 60%;
    justify-content: center;
    align-items: center;
    background-color: #E9E9E9;
    border-radius: 5px;
}

.search-categories{
    display: flex;
    height: 100%;
    width: 15%;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    background-color: #2484BF;
    border-radius: 5px 0px 0px 5px;
}

.search-categories h3{
    font-weight: 300;
    font-size: 20px;
}


.search-text{
    background-color: #E9E9E9;
    border: none;
    height: 100%;
    width: 70%;
    outline: none;
    padding: 0 3%;
    
}

.search-button{
    display: flex;
    height: 100%;
    width: 15%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: #2484BF;
    border-radius: 0px 5px 5px 0px;
}

.search-categories:hover,
.search-button:hover{
    cursor: pointer;
}

.fa-shopping-cart{
    color: #2484BF;
    font-size: 1.5em;
}

/* main */
main{
    background-color: #F5F5F5;
} 

/* banner */
.banner-holder{
    background-image: linear-gradient(to bottom, rgba(36, 132, 191, 0), rgba(36, 132, 191, 1)), url("./assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    padding-top: 10vh;
    display: flex;
    align-items: flex-end;
}

.text-wrapper{
    color: white;
    margin-left: 7%;
    margin-bottom: 4%;
}

.text-wrapper span{
    letter-spacing: 0.1em;  
}

.banner-holder h1{
    font-size: 72px;
}

.banner-holder h3{
    font-size: 50px;
    letter-spacing: 0.08em;
}

.contact-us{
    background-image: url("./assets/triangle.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

.contact-us h3{
    font-size: 50px;
    margin: 0;
    text-align: center;
    color: white;
    padding-top: 200px;
}

.btn-outer-box{
    width: 295px;
    height: 85px;
    background-color: white;
    margin: 100px auto;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-inner-box{
    width: 285px;
    height: 75px;
    background-color: #2484BF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
}

.btn-inner-box:hover{
    cursor: pointer;
}

.shop-now{
    width: 70%;
    height: 30vh;
    background-color: white;
    color: #104D73;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 7px;
}

.shop-now .btns-wrapepr{
    display: flex;
    justify-content: center;
}

.shop-now-btn,
.about-us-btn{
    display: flex;
    width: 30%;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2484BF;
}

.shop-now-btn{
    background-color: #333333;
    margin-right: 60px;
}

.shop-now-btn:hover,
.about-us-btn:hover{
    cursor: pointer;
}

/*/////////////////// OUR CATEGORIES ///////////////////////*/

.categories{
    color:#fff;
    background-image: url("assets/blueback.png");
    background-repeat: no-repeat;
    padding: 100px 0px;
}
.categories .titre{
    font-size: 32px;
    text-align: center;
}
.categories .ctg-main{
    margin: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categories .ctg-main .card{
    width: calc(100%/6 - 30px);
    height: 250px;
    background: #fff;
    text-align: center;
}

.categories .ctg-main .card .box{
    transition: all 0.6s ease;
    box-shadow: 6px 4px 4px rgba(43, 40, 40, 0.25);
    cursor: pointer;
}
.categories .ctg-main .card .box img{
    margin-top: 20px;
    height: 160px;
    width: auto;
}
.categories .ctg-main .card .text{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    background-color: #104D73;
    margin-top: 35px;
}


/*/////////////////// CARROUSSEL ///////////////////////*/

.caroussel{
    color:#2484BF;
    background-image: url("assets/whiteback.png");
    background-repeat: no-repeat;
    padding: 100px 0px;
    margin-top: -110px;
}
.caroussel .titre{
    font-size: 32px;
    text-align: center;
}

/*/////////////////// working ///////////////////////*/

.working{
    color:#fff;
    background-image: url("assets/blueback.png");
    background-repeat: no-repeat;
    padding: 100px 0px;
    height: 80vh;
}
.working .titre{
    font-size: 32px;
    text-align: center;
}
.working .wrk-main{
    margin: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.working .wrk-main .card{
    width: calc(100%/3 - 30px);
    height: 250px;
    background: #fff;
    text-align: center;
}

.working .wrk-main .card .box{
    transition: all 0.6s ease;
    box-shadow: 6px 4px 4px rgba(43, 40, 40, 0.25);
    cursor: pointer;
}
.working .wrk-main .card .box img{
    margin-top: 20px;
    height: 160px;
    width: auto;
}
.working .wrk-main .card .text{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    background-color: #104D73;
    margin-top: 35px;
    padding-top: 10px;
}
.working .wrk-main .card p{
    color: #fff;
    background-color: #104D73;
    font-size: 17px;
    padding: 20px 70px;
    letter-spacing: .7px;
}


/*/////////////////// PROPERTIES ///////////////////////*/

.properties{
    color:#2484BF;
    background-image: url("assets/whiteback.png");
    background-repeat: no-repeat;
    padding: 100px 0px;
    margin-top: -110px;
}
.properties .titre{
    font-size: 32px;
    text-align: center;
}

.properties .ctg-main{
    margin: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.properties .ctg-main .card{
    width: calc(100%/4 - 30px);
    height: 250px;
    background: #E5E5E5;
    text-align: center;
}

.properties .ctg-main .card .box{
    transition: all 0.6s ease;
    box-shadow: 6px 4px 4px rgba(43, 40, 40, 0.25);
    cursor: pointer;
}
.properties .ctg-main .card .box img{
    margin-top: 20px;
    height: 160px;
    width: auto;
}
.properties .ctg-main .card .text{
    color: #2484BF;
    font-size: 25px;
    font-weight: 500;
}